#lists{

  .array-list{
    //height : 100px;
    //margin-left: 20px;
    //margin-right: 20px;
    width: 80%;
    position: inherit;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    overflow: hidden;
    background: #fff;
    .img{
      position: relative;
      width: 30%;
      float: left;
    }
    .fonts{
      float: left;
      width: 70%;
      padding: 30px 50px 15px 50px;
      .title{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 22px;
        margin-top: 0!important;
        a{
          color: inherit;
          text-decoration: none;
          background-color: transparent;
        }

      }
      .content{
        height: 60px;
        overflow: hidden;
        color: #a0a0a0;
        line-height: 2em;
        word-break: break-all!important;
        margin: 0 0 10px;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }
      .line{
        width: 100%;
        height: 2px;
        overflow: hidden;
        font-size: 0;
        margin: 15px 0;
        border-color: #edf1f2;
      }
      .details{
        color: #a0a0a0;
        font-size: 13px;
        .time{
          margin-right: 10px;
          color: #a0a0a0;
        }
        .author{
          margin-right: 10px;
          color: #a0a0a0;

        }
      }
    }
  }
}