


#nav-bar{
	/*background-color: rgba(2,31,46,0.3);*/
	ul{
		list-style: none;
		background-color: #111111;
		padding-left: 0;
		height: 100%;
		margin-bottom: 0;
		//margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		padding-inline-start: 40px;
		position: relative;
		display: block;
		li{
			
			
			font-size: large;

			a{
				cursor: pointer;
				display: block;
				height: 50px;
				padding-left: 25px;
				color: white;
				line-height: 50px;
				text-decoration: none;
			}
		}
		ul{
			background-color: #222222;
			height: auto!important;
			//margin-left: 0;
			overflow: auto;
			margin-left: -40px;
			opacity: 1;
			li{
				a{
					padding-left: 55px;
				}
			}
		}
	}
	.fade-enter-active, .fade-leave-active {
	  transition: opacity .5s;
	}
	.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	  opacity: 0;
	}
}

